button{
    top: 1%;
    left: 8%;
    padding: 1%;
    margin: 1%;
}
p{
    font-size: 20px;
    margin-top: 10%;
    margin-left: 5%;
    width: 25%;
    padding: 1%;
    font-family: 'Courier New', Courier, monospace;
}