<mat-drawer-container class="example-container" style="height: 100%;">
    <mat-drawer-content>
        <mat-toolbar style="background-color: rgb(255, 166, 0);"><span style="margin-left: 2%;"><a routerLink ="/pizzapage/pizzadetails" style="color: white; text-decoration: none;">Pizza Details</a></span>
            
            <span style="margin-left: 75%;">
                <button mat-flat-button style="background-color: rgb(255, 166, 0);" (click)="toKart()">
                    <mat-icon>shopping_cart</mat-icon>
                </button>
                <button mat-flat-button style="background-color: rgb(255, 166, 0);" (click)="logout()">LOGOUT
                    <mat-icon>exit_to_app</mat-icon>
                </button>
            </span>
        </mat-toolbar>
            <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>